<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="/cms_index">หน้าหลัก</a> </li>
                <li> <a href="/cms_account">บัญชีของฉัน</a> </li>
                <li> <a href="/ecom_coupons">Coupons</a> </li>
            </ul>
        </div>
    </div>
    <div style="margin-bottom: 20px">
        <h1 class="section-title-inner">
            <span>Available Coupons</span>
        </h1>
        {{#if customer.coupons_available}}
            <div class="row">
                {{#each customer.coupons_available}}
                    <div class="col-md-3">
                        <div class="coupon" style="border: 1px solid #ccc; padding: 10px">
                            <h4 style="text-transform: uppercase">
                                <a href="/ecom_coupon?coupon_id={{id}}">{{master_id.name}}</a>
                            </h4>
                            <p>
                                {{#if expiry_date}}
                                    Expires {{fmt_datetime expiry_date}}
                                {{/if}}
                            </p>
                            <div style="text-align: center">
                                <a href="/ecom_coupon?coupon_id={{id}}" class="btn btn-primary">View Coupon</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            There are no items to display.
        {{/if}}
    </div>
    <div style="margin-bottom: 20px">
        <h1 class="section-title-inner">
            <span>In Use Coupons</span>
        </h1>
        {{#if customer.coupons_in_use}}
            <div class="row">
                {{#each customer.coupons_in_use}}
                    <div class="col-md-3">
                        <div class="coupon" style="border: 1px solid #ccc; padding: 10px">
                            <h4 style="text-transform: uppercase">
                                <a href="/ecom_coupon?coupon_id={{id}}">{{master_id.name}}</a>
                            </h4>
                            <p>
                                Expires {{fmt_date expiry_date}}
                            </p>
                            <div style="text-align: center">
                                <a href="/ecom_coupon?coupon_id={{id}}" class="btn btn-primary">View Coupon</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            There are no items to display.
        {{/if}}
    </div>
    <div style="margin-bottom: 20px">
        <h1 class="section-title-inner">
            <span>Used Coupons</span>
        </h1>
        {{#if customer.coupons_used}}
            <div class="row">
                {{#each customer.coupons_used}}
                    <div class="col-md-3">
                        <div class="coupon" style="border: 1px solid #ccc; padding: 10px">
                            <h4 style="text-transform: uppercase">
                                <a href="/ecom_coupon?coupon_id={{id}}">{{master_id.name}}</a>
                            </h4>
                            <p>
                                Expires {{fmt_date expiry_date}}
                            </p>
                            <div style="text-align: center">
                                <a href="/ecom_coupon?coupon_id={{id}}" class="btn btn-primary">View Coupon</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            There are no items to display.
        {{/if}}
    </div>
    <div style="margin-bottom: 20px">
        <h1 class="section-title-inner">
            <span>Expired Coupons</span>
        </h1>
        {{#if customer.coupons_expired}}
            <div class="row">
                {{#each customer.coupons_expired}}
                    <div class="col-md-3">
                        <div class="coupon" style="border: 1px solid #ccc; padding: 10px">
                            <h4 style="text-transform: uppercase">
                                <a href="/ecom_coupon?coupon_id={{id}}">{{master_id.name}}</a>
                            </h4>
                            <p>
                                Expires {{fmt_date expiry_date}}
                            </p>
                            <div style="text-align: center">
                                <a href="/ecom_coupon?coupon_id={{id}}" class="btn btn-primary">View Coupon</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            There are no items to display.
        {{/if}}
    </div>
    <div class="gap"></div>
</div>
