<div class="container main-container headerOffset">
    {{#with blog}}
        <h1 class="section-title-inner">
            <span><i class="fa fa-newspaper-o"></i> {{name}}</span>
        </h1>
        {{#if posts}}
            <div class="row">
                {{#each posts}}
                    <div class="col-xs-12">
                        <h3>{{title}} <small>{{date}}</small></h3>
                        <p>{{{body}}}</p>
                        <hr/>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>There are no items to display.</p>
        {{/if}}
    {{/with}}
</div>
