<style type="text/css">
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-top:13px;
}
	#BG_payment{
		background-image:url('/static/db/shopicc_prod/files/background%2CAlTJHDBQ0zM%3D.jpg');
		background-color:#C60;
		height:43px;
		z-index:0;
		margin-bottom: 0;
		margin-top: 15px;
		margin-left: 15px;
		margin-right: 15px;
	}
	#BillPayment1{
        background-image: url("/static/db/shopicc_test/files/BillPayment01,O3jkQ04IqCY=.jpg");
        background-repeat: no-repeat;
        height: 38px;
        position: relative;
        width: 394px;
        z-index:1;
	}
	#BillPayment2{
        background-color: red;
        background-image: url("/static/db/shopicc_test/files/BillPayment02,NaHPPYeJg_g=.jpg");
        height: 68px;
        left: 11px;
        position: relative;
        width: 418px;
	}
    #paysbuy1{
        background-image: url("/static/db/shopicc_test/files/01,4YSWU26kaTs=.jpg");
        background-repeat: no-repeat;
        height: 39px;
        position: relative;
        width: 394px;
        z-index:1;
    }
	#paysbuy2{
        background-color: red;
        background-image: url("/static/db/shopicc_test/files/02,_qaoZjkW1AA=.jpg");
        height: 182px;
        left: 11px;
        position: relative;
        width: 429px;
    }
	#SCBcredit1{
        background-image: url("/static/db/shopicc_test/files/scb-credit01,2QLPLkPvFNw=.jpg");
        background-repeat: no-repeat;
        height: 38px;
        position: relative;
        width: 394px;
        z-index:1;
	}
	#SCBcredit2{
        background-image: url("/static/db/shopicc_test/files/scb-credit02,lbJIXASvLgM=.jpg");
        height: 56px;
        left: 11px;
        position: relative;
        width: 421px;
    }
</style>

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="/cms_index">หน้าหลัก</a> </li>
                <li> <a href="/ecom_checkout">ชำระเงินหน้าแรก</a> </li>
                <li> <a href="/ecom_checkout2">ชำระเงินหน้าที่สอง</a> </li>
            </ul>
        </div>
    </div>
    <div class="row">
        {{#if error_message}}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{error_message}}
            </div>
        {{/if}}
        <div class="col-xs-12">
            <h4>คุณได้ซื้อสินค้าดังนี้</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div class="cartContent w100">
                        <table class="cartTable table-responsive" style="width:100%">
                            <tbody>
                                <tr class="CartProduct cartTableHeader">
                                    <td style="width:15%">สินค้า</td>
                                    <td style="width:40%">รายละเอียด</td>
                                    <td style="width:15%">จำนวน</td>
                                    <td style="width:30%">ราคารวม</td>
                                </tr> 
                                {{#each cart.lines}}
                                <tr class="CartProduct">
                                    <td class="CartProductThumb"><div> <a href="/ecom_product?product_id={{product_id.id}}"><img src="{{file_path image thumbnail=1}}" alt="img"></a> </div></td>
                                    <td><div class="CartDescription">
                                      <h4> <a href="/ecom_product?product_id={{product_id.id}}">
                                            {{#if variant_id}}
                                                {{variant_id.name}}
                                            {{else}}
                                                {{product_id.name}} 
                                            {{/if}}
                                        </a> </h4>
                                    {{#if variant_id.description}}
                                        <span class="size">{{variant_id.description}}</span>
                                    {{else}}
                                        <span class="size">{{product_id.description}}</span>
                                    {{/if}}
                                    <div class="price">
                                {{#if has_discount}}<span style="text-decoration:line-through;font-size:small">{{currency unit_price}}</span><br/>{{/if}}
                                        <span>{{currency special_price}} ฿</span>
                                    </div>
                                </div></td>
                    <td>{{qty}}</td>
                  <td class="price">
                      {{#if has_discount}}<span style="text-decoration:line-through;font-size:small">{{currency amount_before_discount}}</span><br/>{{/if}}
                      <span>{{currency amount}} ฿<span>
                  </td>
                </tr>
                {{/each}} 
              </tbody>
            </table>
          </div>
          <!--cartContent-->
        </div>
      </div>
      <!--/row end--> 
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 rightSidebar">

      <div class="contentBox">
        <div class="w100 costDetails">
          <div class="table-block" id="order-detail-content"> 
            <div class="w100 cartMiniTable">
              <table id="cart-summary" class="std table" style="margin-bottom:0px">
                <tbody>
                  <tr>
                    <!--
                    <td>ราคารวมสินค้าทั้งหมด</td>
                    <td class="price">{{currency amount_without_ship}} ฿</td>
                  </tr>
                    {{#if is_coupon_free_ship}}
                        <tr style="">
                            <td>ค่าจัดส่ง</td>
                            <td class="price">                        
                                <span class="success">จัดส่งฟรี!</span>
                            </td>
                        </tr>
                    {{else}}
                        {{#if amount_ship}}
                            <tr style="">
                                <td>ค่าาจัดส่ง</td>
                                <td class="price">                        
                                    <span>{{currency amount_ship}} ฿</span>
                                </td>
                            <tr>
                        {{/if}}
                    {{/if}}
                    -->
                    <td>ราคารวมทั้งหมด</td>
                    <td class=" site-color" id="total-price">{{currency cart.amount_total}} ฿</td>
                  </tr>
                </tbody>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End popular --> 
      
    </div>
    <!--/rightSidebar--> 
    
  </div><!--/row-->
    <hr/>
    <form action="/ecom_checkout2" method="post">
    <input type="hidden" name="cart_id" value="{{cart.id}}"/>
    <h4>วิธีการจัดส่ง</h4>
    {{#if ship_methods}}
        <p>กรุณาเลือกวิธีการจัดส่ง</p>
        <!-- <b style="color:red">เนื่องด้วยวันหยุดยาวช่วงเทศกาลปีใหม่ การขนส่งจาก shopicc.com ได้ปิดทำการด้วย ดังนั้นสำหรับลูกค้าที่สั่งซื้อ / ชำระเงิน ตั้งแต่วันที่ 30 ธันวาคม 2557 เป็นต้นไป ทาง shopicc.com จะเริ่มจัดส่งสินค้าให้ตั้งแต่วันที่ 5 มกราคม 2558 เป็นต้นไปค่ะ</b> -->
        <div class="form-group ship-method-field">
            <select class="form-control checkout-form" name="ship_method_id">
                {{#each ship_methods}}
                   <option value="{{method_id}}" data-ship-price="{{ship_price}}">{{method_name}} - ฿{{#if ../cart.is_coupon_free_ship}}Free{{else}}{{currency ship_price}}{{/if}}</option> 
                {{/each}}
            </select>
        </div>
    {{else}}
        <p>ไม่มีวิีธีการจัดส่ง</p>
    {{/if}}
    <hr>
    <h4>กรุณาเลือกวิธีการชำระเงิน</h4>
    <span>ทุกวิธีการดำเนินงานปลอดภัย ทางเราจะไม่มีการเก็บข้อมูลบัตรเครดิต สำหรับข้อมูลเพิ่มเติม</span> <a href="cms_page?page=privacy_policy">นโยบายความเป็นส่วนตัว</a>
   <br/>
   <span>เพื่อความรวดเร็วในการจัดส่งสินค้าให้ถึงมือท่าน กรุณาชำระเงินภายใน 24 ชม.</span>
    <div class="row" style="margin-top:10px">
        <div class="col-sm-4">
            <div class="radio" style="display:none">
                <label>
                    <input type="radio" name="pay_method" value="credit_card" {{#ifeq cart.pay_method "credit_card"}}checked{{/ifeq}}/>
                    <img src="/static/db/themes/ecom/img/visa.png"/>
                    <img src="/static/db/themes/ecom/img/master.png"/>
                    <img src="/static/db/themes/ecom/img/american_express.png"/>
                    <img src="/static/db/themes/ecom/img/discover.png"/>
                    <img src="/static/db/themes/ecom/img/diners_club.png"/>
                    <img src="/static/db/themes/ecom/img/jcb.png"/>
                </label>
            </div>
             </div>
           
           
           {{#if paysbuy_flag}}
                <div id="BG_payment" class="radio">
                    <label>
                        <input type="radio" name="pay_method" value="paysbuy" checked/>
                        <div id="paysbuy12">
                            <img class="image responsive" src="/static/db/shopicc_prod/files/01%2CMdFAH-Mi7k0%3D%2CSqXw-Gh7Tmw%3D.jpg" style="max-width:500px;">
                            
                        </div> 
                    </label>
                </div>
				<div id="paysbuy23" >
				    <img class="image responsive" src="/static/db/shopicc_prod/files/body_paysbuy%2C6F4gpnqnAlg%3D.jpg" style="max-width:500px;">
				</div> 
				
            {{/if}}
            
               <div id="BG_payment" class="radio">
                <label>
                    <input type="radio" name="pay_method" value="bank_transfer" />
                    <div id="BillPayment12">
                        <img class="image responsive" src="/static/db/shopicc_prod/files/head_bill%2C46acMCjkxXQ%3D.jpg" style="max-width:500px;">
                    </div>
                </label>
            </div>
			 <div id="BillPayment23">
			     <img class="image responsive" src="/static/db/shopicc_prod/files/body_bill%2C4rvTFSeelVk%3D.jpg" style="max-width:500px;">
			 </div>
			 <h5 style="padding-left:15px">
                    สามารถนำใบแจ้งยอดไปชำระได้ธนาคารที่ร่วมรายการ
            </h5>
            <!--
            <div class="pay-instructions" data-pay-method="paypal" {{#unless_eq cart.pay_method "paypal"}}style="display:none"{{/unless_eq}}>
            </div>
            <div class="pay-instructions" data-pay-method="paysbuy" {{#unless_eq cart.pay_method "paysbuy"}}style="display:none"{{/unless_eq}}>
            </div>
            <div class="pay-instructions" data-pay-method="credit_card" {{#unless_eq cart.pay_method "credit_card"}}style="display:none"{{/unless_eq}}>
                TODO: put credit card form here...
            </div>
            -->
            
            {{#if paypal_flag}}
                <div  class="radio">
                    <label>
                        <input type="radio" name="pay_method" value="paypal"/>
                        Paypal
                    </label>
                </div>
            {{/if}}
            {{#if scb_flag}}
                <div id="BG_payment" class="radio">
                    <label>
                        <input type="radio" name="pay_method" value="scb_gateway"/>
                        <div id="SCBcredit12">
                            <img class="image responsive" src="/static/db/shopicc_prod/files/head_scb%2C4LB06EdtLLc%3D.jpg" style="max-width:500px">
                        </div>
                    </label>
                </div>
				<div id="SCBcredit23">
				    <img class="image responsive" src="/static/db/shopicc_prod/files/body_scb%2CZIigj_SI_wQ%3D.jpg" style="max-width:500px">
				</div>
            {{/if}}
        </div>
        
        
       <!--
        <div class="col-sm-8">
            
            <div class="pay-instructions" data-pay-method="paypal" {{#unless_eq cart.pay_method "paypal"}}style="display:none"{{/unless_eq}}>
            </div>
            <div class="pay-instructions" data-pay-method="paysbuy" {{#unless_eq cart.pay_method "paysbuy"}}style="display:none"{{/unless_eq}}>
            </div>
            <div class="pay-instructions" data-pay-method="credit_card" {{#unless_eq cart.pay_method "credit_card"}}style="display:none"{{/unless_eq}}>
                TODO: put credit card form here...
            </div>
        </div>
        -->
    
    <hr/>
    <h4>ต้องการใบกำกับสินค้าฉบับเต็มหรือไม่ ?</h4>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="check_tax" name="check_tax" {{#if cart.tax_no}}checked{{/if}}>ฉันต้องการใบกำกับสินค้าฉบับเต็ม
        </label>
    </div>
    <div class="row" id="tax_input" style="display:none">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-md-3">หมายเลขประจำตัวผู้เสียภาษี*</label>
                <div class="col-md-9">
                    <input type="text" class="form-control checkout-form" name="tax_no" {{#if cart.tax_no}}value="{{cart.tax_no}}"{{/if}}/>
                </div>
            </div>
        </div>
    </div>
    <!--
    <hr/>
    <h4>ติดตามข่าวสาร</h4>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="accept_marketing" {{#if cart.accept_marketing}}checked{{/if}}>ฉันต้องการติดตามข่าวสาร สินค้าใหม่ โปรโมชั่น และ ข่าวอื่นๆ จาก Shopicc.com
        </label>
    </div>
    -->
    <hr/>
    {{#if hide_checkout}}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{error_message}}
        </div>
        <a href="/cms_index" class="btn btn-default"><i class="fa fa-arrow-left"></i> กลับสู่ร้านค้า </a>
    {{else}}
        <a href="/cms_index" class="btn btn-default"><i class="fa fa-arrow-left"></i> กลับสู่ร้านค้า </a><span style="margin:0px 10px">หรือ</span> <button type="submit" name="commit" value="Agree" class="btn btn-primary" id="modalbtn">ชำระเงิน</button>
    {{/if}}
    </form>

<div class="gap"></div>
<footer style="height:50px">
</footer>
<script>
function check_tax(){
    if($("#check_tax").is(':checked')){
        $("#tax_input").show();
    }
    else{
        $("#tax_input").hide();
    }
}

$("#check_tax").change(function() {
    check_tax();
});

$("input[name=pay_method]").change(function() {
    var v=$("input[name=pay_method]:checked").val();
    //console.log("xxx",v);
    $(".pay-instructions").hide();
    $(".pay-instructions[data-pay-method="+v+"]").show();
});

$("select[name=ship_method_id]").change(function() {
    var $el=$("select[name=ship_method_id]").find(":selected");
    var ship_price=parseFloat($el.data("ship-price"));
    var prev_total=parseFloat($(".amount-total").data("amount-total"));
    var prev_ship=parseFloat($(".amount-ship").data("amount-ship"));
    var new_total=prev_total-prev_ship+ship_price;
    //console.log("ship_price",ship_price,"prev_total",prev_total,"prev_ship",prev_ship);
    $(".amount-total").text("฿"+format_money(new_total)).data("amount-total",new_total);
    $(".amount-ship").text("฿"+format_money(ship_price)).data("amount-ship",ship_price);
});

$(document).ready(function(){
    check_tax();
});
</script>
</div>
